body {
  background-image: linear-gradient(to right bottom, rgb(222, 226, 230), rgb(210, 215, 220), rgb(197, 203, 209), rgb(185, 192, 199), rgb(173, 181, 189));
}

.td-main .row {
  display: flex;
  gap: 1rem;
  padding:1rem;
  width: 100%;
  overflow: inherit;
}

.td-sidebar {
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) ;
  border: none;
}



.td-main main {
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) ;
  border: none;
}

.td-sidebar-toc {
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) ;
  border: none;
}
