{{/*
  Shortcode: useshortcode
  Description: Dynamically includes a shortcode from layouts/shortcodes/uuid/<name>.html with tenant context.
  Usage: {{< useshortcode "banner" title="Hello" content="Welcome!" >}}
  Notes: Automatically injects `uuid` as a parameter.
*/}}
{{- $ctx := partial "tenant-context.html" . -}}
{{- $uuid := $ctx.uuid -}}

{{- $name := .Get 0 -}}
{{- $params := dict -}}

{{- range $k, $v := .Params -}}
  {{- if ne $k "0" -}}
    {{- $params = merge $params (dict $k $v) -}}
  {{- end -}}
{{- end -}}

{{- $params = merge $params (dict "uuid" $uuid) -}}

{{- partial (printf "shortcodes/uuid/%s.html" $name) $params -}}
