{{/*
  Shortcode: useshortcode
  Description: Dynamically includes a shortcode from layouts/shortcodes/uuid/<name>.html with tenant context.
  Usage: {{< useshortcode "banner" title="Hello" content="Welcome!" >}}
  Notes: Automatically injects `uuid` as a parameter.
*/}}

{{- $ctx := partial "resolve-tenant-id.html" . -}}
{{- $uuid := $ctx.uuid -}}

{{- $name := .Get "name" -}}
{{- $params := .Params -}}

{{- $shortcode := printf "%s/%s" $uuid $name -}}

{{- if gt (len $params) 1 }}
  {{- $paramMap := dict -}}
  {{- range $k, $v := $params -}}
    {{- if ne $k "name" -}}
      {{- $paramMap = merge $paramMap (dict $k $v) -}}
    {{- end -}}
  {{- end -}}

  {{- .Page.RenderShortcode (dict "name" $shortcode "params" $paramMap) -}}

{{- else -}}

  {{- .Page.RenderShortcode (dict "name" $shortcode) -}}

{{- end -}}
